#home {
  background-image: url(../images/leona.jpg);
  background-size: cover;
  background-attachment: fixed; }

#accomm {
  background-image: url(../images/pool.jpg);
  background-size: cover;
  background-attachment: fixed; }

#after {
  background-image: url(../images/farm.jpg);
  background-size: cover;
  background-attachment: fixed; }

.navbar {
	/*background-color: #54B1D6;*/
}

.navbar .navbar-nav {
 	display: inline-block;
 	vertical-align: top;
 	float: none;
 	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-size: 20px;
	padding-left: 2em;
	padding-right: 2em;

}

.navbar .navbar-collapse {
 	text-align: center;
}


#banner {
	text-align: center;
	font-family: "Dancing Script", cursive;
	line-height: 2;
	padding-bottom: 4em;
}

#names {
	font-size: 2em;
	padding-bottom: 1em;

}

#valencia {
	width: 88%;
	padding-top: 1em;
}

#boxers {
	width: 70%;
	padding-top: 2em;
	padding-bottom: 2em;
}

#dogs {
	text-align: center;
}

.main {
	background-color: white;
	padding: 2.5em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	border-radius: 8px;
	margin-top: 3em;
	margin-bottom: .25em;

}

#text {
	padding: 3em 4em 3em 4em;
	text-align: center;

}

.mapicon {width: 1.75em;}

.indent {padding-left: 2em;}

.headline {
	font-family: "Architects Daughter", cursive;
	border-bottom: 1px solid black;
}

.top-padding {padding-top: 2em;}

p {line-height: 2;}

ol {line-height: 2;}

#lastpage {
	margin-top: 0;
	padding-top: 2em;
	font-family: 
}


.footer1 {
	position: relative;
	clear: both;
	width: 100%;
	font-family: monospace;
	font-weight: bold;
	text-align: right;
	bottom: 0;
	padding-right: 1em;
	margin: 0;
}

.footer2 {
	position: absolute;
	width: 100%;
	font-family: monospace;
	font-weight: bold;
	text-align: right;
	bottom: 0;
	padding-right: 1em;
	margin: 0;
}
